{% extends "GsbBundle:Template:Template.html.twig"%}

{% block title %}
    {{ detailPage.titre }}
{% endblock %}

{% block body %}
<br/>

<div class="well">
    <div class="row">
        <div class="row">
            <div class="col-md-1 col-md-offset-1">
                <h4>Recherchez</h4>
            </div>
        </div>    
        
        <div class="row">
            {{ form_start(form) }}
            <div class="col-md-1">
                <label>Mois : </label>
            </div>
            <div class="col-md-1">
                {{ form_widget(form.mois, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="col-md-1">
                <label>Annee : </label>
            </div>
            <div class="col-md-1">
                {{ form_widget(form.annee, { 'attr': {'class': 'form-control'} }) }}
            </div>
            {% if app.session.get("typeUtilisateur") == "comptable" %}
            <div class="col-md-1">
                <label>Visiteur : </label>
            </div>
            <div class="col-md-2">
                {{ form_widget(form.visiteur, { 'attr' : { 'class': 'form-control' } }) }} 
            </div>
            {% endif %}
            <div class="col-md-1">
                {{ form_widget(form.rechercher, { 'attr' : { 'class': 'btn btn-primary' } }) }}
            </div>
            <div class="col-md-1">
                <a href="{{ path( detailPage.page ) }}" >
                    <button onClick="reinitialiser" class="btn btn-primary">Réinitialiser</button>
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
        
<br/>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h4>Fiche de frais</h4>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <th>Num</th>
            <th>Date</th>
            <th>Visiteur</th>
            <th>Options</th>
            
            {% for fiche in fiches %}
                <tr>
                    <td>{{ fiche.id }}</td>
                    <td>{{ fiche.mois }}/{{ fiche.annee }}</td>
                    <td>{{ fiche.visiteur.nom }}</td>
                    <td>
                        <a href="{{ path( detailPage.boutonDetail , { 'id': fiche.id}) }}">
                            <button class="btn btn-primary">Détails</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            
            
        </table>
    </div>
</div>
            
            
<script type="text/javascript">
    document.getElementById("form_mois").value = "";
    document.getElementById("form_annee").value = "";
    document.getElementById("form_visiteur").value = "";
</script>
            
{% endblock %}