{% extends "GsbBundle:Template:Template.html.twig"%}

{% block title %}
    Details fiche de frais
{% endblock %}

{% block body %}
<div class="row">
    
    {% if app.session.get("typeUtilisateur") == "comptable" %}
        <dl class="dl-horizontal">
            <dt>Visiteur</dt>
            <dd>{{fiche.visiteur.nom}} {{fiche.visiteur.prenom}}</dd>
        </dl>
    {% endif%}
    
    <dl class="dl-horizontal">
        <dt>date</dt>
        <dd>{{fiche.mois}}/{{fiche.annee}}</dd>
    </dl>
    
    <dl class="dl-horizontal">
        <dt>Dernière modification</dt>
        <dd>{{fiche.dateModif|date('d/m/y')}}</dd>
    </dl>
    
    <dl class="dl-horizontal">
        <dt>Etat</dt>
        <dd>{{fiche.etat.libelle}}</dd>
    </dl>
    
    <dl class="dl-horizontal">
        <dt>Nombre de justificatifs</dt>
        <dd>{{fiche.nbJustificatif}}</dd>
    </dl>
    
    <dl class="dl-horizontal">
        <dt>Montant Valide</dt>
        <dd>{{fiche.montantValide}}</dd>
    </dl>
    
    {# version tableau
    <table class="table table-bordered">
        <tr>
            <td>date</td>
            <td>{{fiche.mois}}/{{fiche.annee}}</td>
        </tr>
        
        <tr>
            <td>Dernière modification</td>
            <td>{{fiche.dateModif}}</td>
        </tr>
        <tr>
            <td>Etat</td>
            <td>{{fiche.etat}}</td>
        </tr>
    </table>
    #}
    <h1>Frais au Forfait</h1>
            
    <table class="table table-bordered">    
        
        <th>Frais</th>
        <th>a l'unite</th>
        <th>quantite</th>
        <th>montant total</th>
        <th>options</th>
        {% for ligneF in fiche.LigneFraisForfait %}
        <tr>
            <td>{{ligneF.fraisForfait.libelle}}</td>
            <td>{{ligneF.fraisForfait.montant}}</td>
            <td>{{ligneF.quantite}}</td>
            <td>{{ligneF.quantite * ligneF.fraisForfait.montant}}</td>
            {% if app.session.get("typeUtilisateur") == "visiteur" %}
                <td>
                    <a href="{{ path("gsb_visiteur_modifierLigne", {"id" : ligneF.id}) }}">
                        <button class="btn btn-primary">Modifier</button>
                    </a>  
                </td>
            {% endif %}
        </tr>
        
        {% endfor%}
    </table>
        
            
    <h1>Frais Hors Forfait</h1>
            
    <table class="table table-bordered">    
        <th>libelle</th>
        <th>date</th>
        <th>montant</th>
        <th>nombre de justificatifs</th>
        <th>etat</th>
        <th>options</th>
        {% set test = true %} 
        {% for ligneHF in fiche.LigneFraisHorsForfait %}
        <tr>
            <td>{{ligneHF.libelle}}</td>
            <td>{{ligneHF.dateFrais.format("d/m/y")}}</td>
            <td>{{ligneHF.montant}}</td>
            <td>{{ligneHF.nbJustificatif}}</td>
            <td>{{ligneHF.etat.libelle}}</td>
            {% if app.session.get("typeUtilisateur") == "comptable" and ligneHF.etat.libelle == "A VALIDER" %}
                {% set test = false %}
                <td>
                    <a href="{{ path("gsb_comptable_validerFrais", {"id" : ligneHF.id}) }}">
                        <button class="btn btn-success">Valider</button>
                    </a>
                    <a href="{{ path("gsb_comptable_refuserFrais", {"id" : ligneHF.id}) }}">
                        <button class="btn btn-danger">Refuser</button>
                    </a>
                </td>
                
            {% elseif app.session.get("typeUtilisateur") == "visiteur" and ligneHF.etat.libelle == "A VALIDER" %}
             
            <td>
                <a href="{{ path("gsb_visiteur_modifierLigneHorsForfait", {"id" : ligneHF.id}) }}">
                    <button class="btn btn-primary">Modifier</button>
                </a>  
                <a href="{{ path("gsb_visiteur_supprimerLigneHorsForfait", {"id" : ligneHF.id}) }}">
                    <button class="btn btn-danger">Supprimer</button>
                </a>
            </td>
            {% endif %}
        </tr>   
        
        {% endfor%}
    </table>    
    {% if app.session.get("typeUtilisateur") == "visiteur" and fiche.etat.libelle != "VALIDE" and fiche.etat.libelle != "REMBOURSE" %}
        <a href="{{ path("gsb_visiteur_ajouterLigneHorsForfait", {"id" : fiche.id}) }}">
            <button class="btn btn-primary">Ajouter un frais hors forfait</button>
        </a>
    {% endif %}
    
    
    {% if app.session.get("typeUtilisateur") == "comptable" and fiche.etat.libelle != "VALIDE" and fiche.etat.libelle != "REMBOURSE" and test %}
    <a href="{{ path("gsb_comptable_validerFiche", {"id" : fiche.id}) }}">
        <button class="btn btn-success">Valider</button>
    </a>
    
    {% elseif app.session.get("typeUtilisateur") == "comptable" and fiche.etat.libelle == "VALIDE" %}
    <a href="{{ path("gsb_comptable_rembourserFiche", {"id" : fiche.id}) }}">
        <button class="btn btn-success">Rembourser</button>
    </a>   
    
    {% endif %}
    
    <a href="{{ path((app.session.get("typeUtilisateur") != "visiteur") ? "gsb_comptable_consulterHistorique" : "gsb_visiteur_consulterHistorique") }}">
        <button class="btn btn-primary">Retour</button>
    </a>
    
</div>
{% endblock %}