<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GSB</title>

    {% stylesheets '@GsbBundle/Resources/public/css/bootstrap.css' %}

        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

    {% endstylesheets %}
    
    {% stylesheets '@GsbBundle/Resources/public/css/styleGsbMission2.css' %}

        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

    {% endstylesheets %}
 
  </head>
  <body>    
    <div class="container-fluid">
        
        <!-- Partie Header -->
        <div class="headerGsb">
            <h4>{% block title %}{% endblock %} </h4>
        </div>
        
        
        <!-- Partie Menu -->
        <div class="sideMenu">
            <ul>
                <!--<li class="sideMenuHead">
                    <a href="#">Menu</a>
                </li>-->
                
                <li>
                    {{ app.session.get("utilisateur").nom }} {{ app.session.get("utilisateur").prenom }}
                </li>
                <li>
                    <a class="deconnexion" href="{{ path('gsb_deconnexion') }}">Déconnexion</a>
                </li>
                
                <br/>
                
                {% if app.session.get("typeUtilisateur") == "comptable" %}
                    <li>
                        <a href="{{ path("gsb_comptable_consulterAValider") }}">Liste des fiches de frais à valider</a>
                    </li>
                    <li>
                        <a href="{{ path("gsb_comptable_consulterHistorique") }}">Historique des fiches de frais</a>
                    </li>
                    <li>
                        <a href="{{ path("gsb_comptable_consulterARembourser") }}">Liste des fiches des frais à rembourser</a>
                    </li>
                {% elseif app.session.get("typeUtilisateur") == "visiteur" %}
                    <li>
                        Fiche de frais :
                        <ul>
                            <li>
                                <a href="{{ path("gsb_visiteur_consulterHistorique") }}">Historique</a>
                            </li>
                            <li>
                                <a href="{{ path("gsb_visiteur_consulterARembourser") }}">A rembourser</a>
                            </li>
                            <li>
                                <a href="{{ path("gsb_visiteur_consulterAValider") }}">A valider</a>
                            </li>
                            <li>
                                <a href="{{ path("gsb_visiteur_consulterRemboursees") }}">Remboursées</a>
                            </li>
                        </ul>
                        
                    </li>
                    <br/>
                    <li>
                        <a href="{{ path("gsb_visiteur_ajouterFiche") }}">Nouvelle fiche de frais</a>
                    </li>
                {% endif %}
                
            </ul>
        </div>
        
        <!-- Partie Contenu -->
        <div class="contenu">
            {% block body %}{% endblock %}
        </div>
    </div>
    
  </body>
</html>